<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UPDATE</title>
</head>
<body>
<h1>РЕДАКТИРОВАТЬ ПОЛЬЗОВАТЕЛЯ</h1>
<form th:method="PUT" th:action="@{/admin/update/{id}(id=${user.getId()})}" th:object="${user}">

    <input type="hidden" th:field="*{id}" id="id"/>

    <div>
        <label for="name">ИМЯ</label>
        <input type="text" th:field="*{name}" id="name"/>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>

    <div>
        <label for="lastname">ФАМИЛИЯ</label>
        <input type="text" th:field="*{lastName}" id="lastname"/>
        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>

    <div>
        <label for="email">ПОЧТА</label>
        <input type="text" th:field="*{email}" id="email"/>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>

    <div>
        <label for="username">ЛОГИН</label>
        <input type="text" th:field="*{username}" id="username"/>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>

    <div>
        <label for="password">ПАРОЛЬ</label>
        <input type="text" th:field="*{password}" id="password"/>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>

    <div>
        <label for="roles">ВЫБРАТЬ РОЛЬ(РОЛИ)</label>
        <select id="roles" th:field="*{roles}" size="3" multiple="multiple">
            <option th:each="role : ${roles}"
                    th:value="${role.id}"
                    th:text="${role.roleName}"></option>
        </select>
        <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
    </div>

    <div>
        <input type="submit" value="РЕДАКТИРОВАТЬ"/>
    </div>
</form>

<br>
<br>
<br>
<a th:href="@{/logout}"><input type="submit" value="ВЫХОД"/></a>

</body>
</html>
